Mult_Matrices_OMP
*.out
mpi_vector_add
mpi_matrix_mult
cuda_vector_add
grey_scale
vector_add
*/*/build
*/*/*/build
rgb2gray
image_out.jpg
image_out_cuda.jpg
image_out_opencv.jpg
cuda_matrix_mult
/build
